@model IEnumerable<drugaApka.Models.PAYS>

<p><h2>Wpłaty</h2></p>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Imię</th>                               @*@Html.DisplayNameFor(model => model.USERS.firstName)*@
        <th>Nazwisko</th>
        <th>Data wpłaty</th>
        <th>Wartość wpłaty</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.USERS.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USERS.lastName)
            </td>
            <td>
                @item.date.Date.ToString("dd/MM/yyyy")   @*Html.DisplayFor(modelItem => item.date.Date.ToString("dd/MM/yyyy"))*@
            </td>
            <td>
                @String.Format("{0:c}", item.Value)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PAY_ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PAY_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PAY_ID })
                </td>*@
        </tr>
    }

</table>
