@model IEnumerable<drugaApka.Models.EXPENSES>

@{
    ViewBag.Title = "Szczegółowe wydatki";
}

<p><h2>Szukane wydatki</h2></p>


    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Miesiac</th>
                    <th>Wynajem</th>
                    <th>Czynsz</th>
                    <th>Prąd</th>
                    <th>Gaz</th>
                    <th>Internet</th>
                    <th>Dodatkowe</th>
                    <th>Data zapłaty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        @for (int i = 0; i < 8; i++)
                        {
                            switch (i)
                            {
                                case 0:
                                    <th>@item.ExpensePerMonth</th>
                                    break;
                                case 1:
                                    <th>@item.RentalFee</th>
                                    break;
                                case 2:
                                    <th>@item.Rent</th>
                                    break;
                                case 3:
                                    <th>@item.CurrentBill</th>
                                    break;
                                case 4:
                                    <th>@item.GasBill</th>
                                    break;
                                case 5:
                                    <th>@item.InternetBill</th>
                                    break;
                                case 6:
                                    <th>
                                        @if (@item.EXTRA_EXPENSES != null)
                                        {
                                            <p>@item.EXTRA_EXPENSES.Name - @item.EXTRA_EXPENSES.Value</p>
                                        }
                                    </th>
                                    break;
                                case 7:
                                    <th>@item.ExpenseDate.ToString("dd/MM/yyyy")</th>
                                    break;
                                default:
                                    break;
                            }
                        }
                        </tr>
                }
                </tbody>
                </table>
    </div>
