@model IEnumerable<drugaApka.Models.EXPENSES>

@{
    ViewBag.Title = "Szczegółowe wydatki";
}

<p><h2>Szukane wydatki</h2></p>


    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Miesiac</th>
                    <th>Wynajem</th>
                    <th>Czynsz</th>
                    <th>Prąd</th>
                    <th>Gaz</th>
                    <th>Internet</th>
                    <th>Dodatkowe wydatki</th>
                    <th>Data zapłaty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        @for (int i = 0; i < 8; i++)
                        {
                            switch (i)
                            {
                                case 0:
                                    <th>@item.ExpensePerMonth</th>
                                    break;
                                case 1:
                                    <td>@String.Format("{0:c}", item.RentalFee)</td>
                                    break;
                                case 2:
                                    <td>@String.Format("{0:c}", item.Rent)</td>
                                    break;
                                case 3:
                                    <td>@String.Format("{0:c}", item.CurrentBill)</td>
                                    break;
                                case 4:
                                    <td>@String.Format("{0:c}", item.GasBill)</td>
                                    break;
                                case 5:
                                    <td>@String.Format("{0:c}", item.InternetBill)</td>
                                    break;
                                case 6:
                                        if (item.EXTRA_EXPENSES.EXTRA_EXPENSES_ID != -1)
                                        {
                                            <td>@item.EXTRA_EXPENSES.Name - @String.Format("{0:c}", item.EXTRA_EXPENSES.Value)</td>
                                        }
                                        else
                                        {
                                            <td>BRAK!</td>
                                        }
                                    break;
                                case 7:
                                    <th>@item.ExpenseDate.ToString("dd/MM/yyyy")</th>
                                    break;
                                default:
                                    break;
                            }
                        }
                        </tr>
                }
                </tbody>
                </table>
    </div>
