@model IEnumerable<drugaApka.Models.EXPENSES>
@{
    ViewBag.Title = "Wydatki";
}

<div class="container">
    <div class="row">
        <a class="btn btn-primary btn-lg" href="~/Expenses/SearchDetails">Szczegółowe wydatki</a>
    </div>
    <div class="row">
        <div class="center-block"><font size="6"><p class="text-center"><strong>Wydatki</strong></p></font></div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Miesiąc</th>
                <th>Wynajem</th>
                <th>Czynsz</th>
                <th>Prąd</th>
                <th>Gaz</th>
                <th>Internet</th>
                <th>Suma</th>
                <th>Dodatkowe</th>
                <th>Suma łączna</th>
                <th>Na osobę</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                float? sum = 0;
                <tr>
                    @for (int i = 0; i < 10; i++)
                    {
                        switch (i)
                        {
                            case 0:
                                {
                                    <th>@item.ExpensePerMonth</th>
                                    break;
                                }
                            case 1:
                                {
                                    <td>@String.Format("{0:c}", item.RentalFee)</td>
                                    break;
                                }
                            case 2:
                                {
                                    <td>@String.Format("{0:c}", item.Rent)</td>
                                    break;
                                }
                            case 3:
                                {
                                    <td>@String.Format("{0:c}", item.CurrentBill)</td>
                                    break;
                                }
                            case 4:
                                {
                                    <td>@String.Format("{0:c}", item.GasBill)</td>
                                    break;
                                }
                            case 5:
                                {
                                    <td>@String.Format("{0:c}", item.InternetBill)</td>
                                    break;
                                }
                            case 6:
                                {
                                    float? rentalFee, rent, current, gas, internet;

                                    if (item.RentalFee == null){rentalFee = 0;}
                                    else{rentalFee = item.RentalFee;}

                                    if (item.Rent == null) { rent = 0; }
                                    else { rent = item.Rent; }

                                    if (item.CurrentBill == null) { current = 0; }
                                    else { current = item.CurrentBill; }

                                    if (item.GasBill == null) { gas = 0; }
                                    else { gas = item.GasBill; }

                                    if (item.InternetBill == null) { internet = 0; }
                                    else { internet = item.InternetBill; }

                                    sum = rentalFee + rent + current + gas + internet;
                                    <td>@String.Format("{0:c}", sum)</td>
                                    break;
                                }
                            case 7:
                                {
                                    <th class="alert-info text-center">@Html.ActionLink("CLICK", "ExtraExpenses", "Expenses", new { month = item.ExpensePerMonth }, null)</th>
                                    break;
                                }
                            case 8:
                                {
                                    var extra = ViewBag.extraExpenses as IEnumerable<drugaApka.Models.EXPENSES>;
                                        sum += (extra.Where(p => p.ExpensePerMonth == item.ExpensePerMonth).Sum(p => p.EXTRA_EXPENSES.Value));
                                        <th>@String.Format("{0:c}", sum)</th>
                                    break;
                                }
                            case 9:
                                {
                                        var sum9 = sum / 4;
                                        <th>@String.Format("{0:c}", sum9)</th>
                                    break;
                                }

                            default:
                                break;
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

